.search {
  position: relative;
  color: white;
  margin-bottom: -80px;
  max-height: 564px;
  max-width: 1440px;

}

.search-bg {
  background-image: url('../../images/georgia-de-lotz-search-bg.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: -80px;

}
.search__container {
  margin-bottom: 80px;
}

.search__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 60px;
  max-width: 604px;
  margin: 32px 0;
}

.search__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 545px;
  margin: 0 0 64px 0 ;
}

.search__input {
  border-radius: 100px;
  height: 64px;
  max-width: 608px;
  display: flex;
  position: relative;
}

.input__field {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  padding: 0;
  padding-left: 24px;
  font-size: 16px;
}
.input__field:focus {
  box-shadow: 0 0 5px 2px #4d90f0;
}

.input__button {
  padding: 0;
  height: 103%;
  width: 24%;
  background: #2F71E5;
  color: #fff;
  position: absolute;
  right: -2px;
  top: -1px;
  border-radius: 100px;
  cursor: pointer;
}

.input__button:hover {
  background-color: #347EFF;
}

.input__button:active {
  background-color:  #2A65CC;
}


@media screen and (max-width: 1024px){
  .search__title {
    font-size: 36px;
    margin: 16px 0;
    max-width: 385px;
  }
  .search__subtitle {
    margin-bottom: 48px;
    max-width: 452px;
  }
  .search__input {
    max-width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 730px) {
  .search__container {
    margin-bottom: 175px;
  }
  .search__title {
    max-width: 285px;
  }

  .search__input {
    flex-direction: row;
  }

  .input__button {
    top: 75px;
    width: 100%;
  }

}