.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  max-width: 100%;
  color: #fff;
}
.header__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  align-self: center;
  z-index: 3;
  text-decoration: none;
}
.header__nav {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.header__icon {
  display: none;
}
.nav__item {
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;;
  font-weight: 500;
  font-size: 18px;
  margin-left: 25px;
  padding: 24px 0;
  text-decoration: none;
}

.nav__item path {
  fill: #fff;
}
.circle {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 15px;
  height: 50px;
}
.nav__block-name {
  display: flex;
  align-items: center;
}
.nav__block-name svg {
  margin-left: 10px;
}
.nav__item_active {
  border-bottom: 2px solid #fff;
}
.header_dark {
  color: #1A1B22;
  border-bottom: 1px solid #DDDDE0;
}
.header_dark a {
  color: #1A1B22;
}
.header_dark path {
  fill: #1A1B22;
}
.header__icon_dark rect {
  fill: #111;
}
.header_dark .circle {
  border-color: #1A1B22;
}
.header_dark .nav__item_active{
  border-bottom: 2px solid #1A1B22;
}
.header_dark .header__title {
  color: #1A1B22;
}
.header__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #1A1B22;
  height: 280px;
  flex-direction: column;
  justify-content: space-evenly;
}
.header__nav.header__menu a {
  display: block;
  text-align: left;
}
@media screen and (max-width: 1024px){
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 730px) {
  .header {
    padding: 16px;
  }
  .header__nav a:not(:last-child) {
    display: none;
  }
  .header__icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header__nav.header__menu a {
    display: flex;
  }
}
